/*100% + 50 px = far right*/
/*50% - 150px = center*/
/*-350px = far left*/


.AppWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282a36;
  color: #F7F9F7;
  padding: 50px;
  overflow-x: hidden
}

.AppWrapper > div {
  margin-bottom: 50px;
}

.avatar {
  position: absolute;
  top: -350px;
}

.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  background-color: #f45b69;
  z-index: 99999;
  transform-origin: 0;
}